{% macro render_table(table_id, columns, rows, table_key=None, nonsearchable=None, table_context=None) %}
{# nonsearchable: list of zero-based column indexes that should not be searchable #}
<table id="{{ table_id }}" data-tablekey="{{ table_key or table_id }}" {% if nonsearchable %}
    data-nonsearchable='{{ nonsearchable | tojson }}' {% endif %} {% if table_context is not none %}
    data-context='{{ table_context if table_context is string else (table_context | tojson) }}' {% endif %}>
    <thead>
        <tr>
            {% for c in columns %}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            {% for cell in r %}
            {% if cell is mapping %}
            {% set td_style = cell.get('td_style') %}
            {% set html_val = cell.get('html') %}
            <td{% if td_style %} data-td-style="{{ td_style }}" {% endif %}>
                {{ html_val|default(cell)|safe }}
                </td>
                {% else %}
                <td>{{ cell|safe }}</td>
                {% endif %}
                {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}